# Aula 7 - Exercício

## Testando Moedas

In [1]:
import pandas as pd

In [3]:
# Resultados dos lançamentos de moedas. c = cara e C = coroa
m1 = 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc'
m2 = 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc'
m3 = 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC'
m4 = 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC'
m5 = 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'

In [6]:
# Opção A: 
#
# eventos = {'m1': m1, 
#            'm2': m2, 
#            'm3': m3, 
#            'm4': m4, 
#            'm5': m5}
#moedas = pd.DataFrame(eventos)
#df = pd.DataFrame(data = ['Cara', 'Coroa'], 
#                    index = ['c', 'C'], 
#                    columns = ['Faces'])
#for item in moedas:
#    df = pd.concat([df, moedas[item].value_counts()], 
#                    axis = 1)
#df

# Criando um dicionário chamado eventos, com os resultados de cada moeda
eventos = {'m1': m1, 
           'm2': m2, 
           'm3': m3, 
           'm4': m4, 
           'm5': m5}
eventos

{'m1': 'CCcCCccCCCccCcCccCcCcCCCcCCcccCCcCcCcCcccCCcCcccCc',
 'm2': 'CCCCCccCccCcCCCCccCccccCccCccCCcCccCcCcCCcCccCccCc',
 'm3': 'CccCCccCcCCCCCCCCCCcccCccCCCCCCccCCCcccCCCcCCcccCC',
 'm4': 'cCCccCCccCCccCCccccCcCcCcCcCcCcCCCCccccCCCcCCcCCCC',
 'm5': 'CCCcCcCcCcCCCcCCcCcCCccCcCCcccCccCCcCcCcCcCcccccCc'}

In [7]:
# Gerando um dataframe a partir de eventos
moedas = pd.DataFrame(eventos)
moedas

ValueError: If using all scalar values, you must pass an index

### Aqui já encontramos o erro. É necessário passar uma lista para criar o dataframe, e não um dicionário.
## Alternativa A incorreta

In [9]:
# Opção B:
#
# eventos = {'m1': list(m1), 
#            'm2': list(m2), 
#             'm3': list(m3), 
#             'm4': list(m4), 
#             'm5': list(m5)}
# moedas = pd.DataFrame(eventos)
# df = pd.DataFrame(data = ['Cara', 'Coroa'], 
#                     index = ['c', 'C'], 
#                     columns = ['Faces'])
# for item in moedas:
#     df = pd.concat([df, moedas[item].value_counts()], 
#                     axis = 1)
# df

# Criando os dados na variável eventos, mas dessa vez passando os valores dos testes como lista
eventos = {'m1': list(m1), 
            'm2': list(m2), 
            'm3': list(m3), 
            'm4': list(m4), 
            'm5': list(m5)}
eventos

{'m1': ['C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'c',
  'c',
  'C',
  'c'],
 'm2': ['C',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'c'],
 'm3': ['C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'C',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'C'],
 'm4': ['c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C',
  'c',
  'c',
  'c',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'C',
  'C',
  'C',
  'C'],
 'm5': ['C',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'C',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'C',
  'c',
  'C',
  'C',
  'c',
  'c',
  'c',
  'C',
  'c',
  'c',
  'C',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'C',
  'c',
  'c',
  'c',
  'c',
  'c',
  'C',
  'c']}

In [10]:
# Criando dataframe a partir de eventos
moedas = pd.DataFrame(eventos)
moedas

   m1 m2 m3 m4 m5
0   C  C  C  c  C
1   C  C  c  C  C
2   c  C  c  C  C
3   C  C  C  c  c
4   C  C  C  c  C
5   c  c  c  C  c
6   c  c  c  C  C
7   C  C  C  c  c
8   C  c  c  c  C
9   C  c  C  C  c
10  c  C  C  C  C
11  c  c  C  c  C
12  C  C  C  c  C
13  c  C  C  C  c
14  C  C  C  C  C
15  c  C  C  c  C
16  c  c  C  c  c
17  C  c  C  c  C
18  c  C  C  c  c
19  C  c  c  C  C
20  c  c  c  c  C
21  C  c  c  C  c
22  C  c  C  c  c
23  C  C  c  C  C
24  c  c  c  c  c
25  C  c  C  C  C
26  C  C  C  c  C
27  c  c  C  C  c
28  c  c  C  c  c
29  c  C  C  C  c
30  C  C  C  c  C
31  C  c  c  C  c
32  c  C  c  C  c
33  C  c  C  C  C
34  c  c  C  C  C
35  C  C  C  c  c
36  c  c  c  c  C
37  C  C  c  c  c
38  c  c  c  c  C
39  c  C  C  C  c
40  c  C  C  C  C
41  C  c  C  C  c
42  C  C  c  c  C
43  c  c  C  C  c
44  C  c  C  C  c
45  c  C  c  c  c
46  c  c  c  C  c
47  c  c  c  C  c
48  C  C  C  C  C
49  c  c  C  C  c

In [11]:
# Criando um novo dataframe
df = pd.DataFrame(data = ['Cara', 'Coroa'], 
                  index = ['c', 'C'], 
                  columns = ['Faces'])
df

   Faces
c   Cara
C  Coroa

In [12]:
# Concatenando os dataframes df com a frequencia de cada item no dataframe moedas (m1, m2, m3, m4, m5) com relação às colunas
# (axis = 1)
for item in moedas:
    df = pd.concat([df, moedas[item].value_counts()], 
                    axis = 1)
df

   Faces  m1  m2  m3  m4  m5
c   Cara  25  26  19  23  25
C  Coroa  25  24  31  27  25

## Alternativa B correta

In [13]:
# Opção C:
#
# eventos = {'m1': list(m1), 
#             'm2': list(m2), 
#             'm3': list(m3), 
#             'm4': list(m4), 
#             'm5': list(m5)}
# moedas = pd.DataFrame(eventos)
# df = pd.DataFrame(data = ['Cara', 'Coroa'], 
#                     index = ['c', 'C'], 
#                     columns = ['Faces'])
# for item in moedas:
#     df = pd.concat([df, moedas[item].sum()], 
#                     axis = 1)
# df

for item in moedas:
     df = pd.concat([df, moedas[item].sum()], 
                     axis = 1)
df

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

### Nesta opção não temos a frequência de cada lançamento, mas sim o somatório, o que retorna erro pois não temos dados numéricos

## Alternativa C incorreta

In [ ]:
# Opção D:
#
# eventos = {'m1': list(m1), 
#             'm2': list(m2), 
#             'm3': list(m3), 
#             'm4': list(m4), 
#             'm5': list(m5)}
# moedas = pd.DataFrame(eventos)
# for item in moedas:
#     df = pd.concat([df, moedas[item].value_counts()], 
#                     axis = 1)
# df

### Aqui o dataframe df não foi criado antes da operação de concatenação, ou seja, o resultado não conterá a primeira parte das informações

## Alternativa D incorreta