# Aula 3 - Extras

## Criando e concatenando Series no Pandas

In [28]:
# Importando Pandas e criando uma lista com dados numéricos chamada data
import pandas as pd

data = [1,2,3,4,5]
data

[1, 2, 3, 4, 5]

In [2]:
# Criando uma Series do Pandas a partir de data
s = pd.Series(data)
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
# Gerando índices
index = ['Linha' + str(i) for i in range(5)]
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [4]:
# Criando a mesma Series anterior, mas utilizando os índices definidos anteriormente
s = pd.Series(data=data,index=index)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [5]:
# Criando o mesmo resultado mas desta vez por meio de uma lista salva em data
data = {'Linha' + str(i) : i + 1 for i in range(5) }
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [6]:
# Passando a lista, não é necessário passar os índices para a Series
s = pd.Series(data=data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [7]:
# É possível realizar operações com as séries: adição, subtração, multiplicação, divisão... entre constantes e entre séries
s1 = s+2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

## Criando e concatenando Dataframes

In [8]:
# Criando uma matriz de dados
data = [[1, 2, 3], 
        [4, 5, 6], 
        [7, 8, 9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [9]:
# Criando um dataframe a partir de data
df1 = pd.DataFrame(data = data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [10]:
# Criando índices para o dataframe
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [11]:
# Criando dataframe com índices
df1 = pd.DataFrame(data=data,index=index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [12]:
# Criando colunas para o dataframe e gerando dataframe com índices e colunas
columns = ['Coluna' + str(i) for i in range(3)]
df2 = pd.DataFrame(data=data,index=index,columns=columns)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [13]:
# O mesmo resultado pode ser obtido através de um dicionário.
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [14]:
#Verificando tipo de data
type(data)

dict

In [15]:
# Usando um dicionário, não é necessário explicitar índice e coluna
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [17]:
# Gerando os mesmos dados para o dataframe por meio de uma tupla
data = [(1,2,3),(4,5,6),(7,8,9)]
df3 = pd.DataFrame(data=data,index=index,columns=columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [18]:
# Manipulando elementos específicos de df1
df1[df1>0] = 'A'
df1

        0  1  2
Linha0  A  A  A
Linha1  A  A  A
Linha2  A  A  A

In [19]:
# Manipulando elementos específicos de df2
df2[df2>0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [20]:
# Manipulando elementos específicos de df3
df3[df3>0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [22]:
# Concatenando df1, df2 e df3 usando concat do Pandas. Notar que como as colunas de df1 são diferentes dos demais, aparecem 
# campos marcados como NaN
df4 = pd.concat([df1, df2, df3])
df4

          0    1    2 Coluna0 Coluna1 Coluna2
Linha0    A    A    A     NaN     NaN     NaN
Linha1    A    A    A     NaN     NaN     NaN
Linha2    A    A    A     NaN     NaN     NaN
Linha0  NaN  NaN  NaN       B       B       B
Linha1  NaN  NaN  NaN       B       B       B
Linha2  NaN  NaN  NaN       B       B       B
Linha0  NaN  NaN  NaN       C       C       C
Linha1  NaN  NaN  NaN       C       C       C
Linha2  NaN  NaN  NaN       C       C       C

In [26]:
# Formatando df1 para o formato adequado e realizando a concatenação
df1=pd.DataFrame(data,index=index,columns=columns)
df1[df1 > 0] = 'A'
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [27]:
# Concatenando na vertical: axis = 1
df5 = pd.concat([df1,df2,df3], axis=1)
df5

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C