## Aula 6 - Extra

## Métodos de Interpolação

In [5]:
# Importando Pandas e criando uma série a partir de um vetor com valores de teste e valores faltantes
import pandas as pd

data = [0.5, None, None, 0.52, 0.54, None, None, 0.55, 0.59, None, 0.6]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.55
8     0.59
9      NaN
10    0.60
dtype: float64

In [6]:
# Preenchendo os dados faltantes com 0
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.55
8     0.59
9     0.00
10    0.60
dtype: float64

In [7]:
# Preenchendo os dados com o método 'ffill': copiando o último valor válido começando da primeira linha
s.fillna(method='ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.55
8     0.59
9     0.59
10    0.60
dtype: float64

In [8]:
# Preenchendo os dados com o método 'ffill': copiando o último valor válido começando da última linha
s.fillna(method='bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.55
6     0.55
7     0.55
8     0.59
9     0.60
10    0.60
dtype: float64

In [9]:
# Preenchendo os valores faltantes com a média dos valores existentes
s.fillna(s.mean())

0     0.50
1     0.55
2     0.55
3     0.52
4     0.54
5     0.55
6     0.55
7     0.55
8     0.59
9     0.55
10    0.60
dtype: float64

In [12]:
# O parâmetro limit=1 substitui no máximo um valor com o método adotado, no caso 'ffill'
s1 = pd.Series(data)
s1.fillna(method='ffill', limit=1)

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.55
8     0.59
9     0.59
10    0.60
dtype: float64

In [13]:
# O parâmetro limit=1 substitui no máximo um valor com o método adotado, no caso 'bfill'
s1 = pd.Series(data)s1.fillna(method='bfill', limit=1)

0     0.50
1      NaN
2     0.52
3     0.52
4     0.54
5      NaN
6     0.55
7     0.55
8     0.59
9     0.60
10    0.60
dtype: float64